<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notepad</title>
</head>
<body>
<p><h1><a th:href="@{'/'}">Notepad</a></h1></p>
<p><h2 th:text="${Memo.title}"></h2></p>
<p style="margin-top:45px;" th:text="${Memo.description}"></p>
<form th:action="@{'/printing/'+${Memo.createorder}}" method="post">
    <input type="hidden" name="_method" value="delete"/><!--axios-->
    <input type="submit" value="Delete">
</form>
<form th:action="@{'/printing/rewriting/'+${Memo.createorder}}" method="get">
    <input type="submit" value="Rewrite">
</form>
</body>
</html>